# Use color output for `ls`
alias ls="command ls -G --color"

# List all files
alias la="ls -aG"

# List only directories
alias ld='ls -lG | grep "^d"'

# List files in long format
alias ll="ls -lG"

# List all files in long format
alias lag="ls -laG"

# Update OS X, Homebrew, and NPM
alias up="brew update; brew upgrade"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Recursively delete `.DS_Store` files
alias dscleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

alias be="bundle exec"

# Start and stop Postgres
alias pgstart="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias pgstop="pg_ctl -D /usr/local/var/postgres stop -s -m fast"

# Make a quick working commit
alias workin="git add .; git commit -am workin"

alias l="echo | vipe | xargs -0 printf $'# %s\n%s\n' \"$(date)\" $1 >> .xtian.md"
alias rl="touch .xtian.md; markdown .xtian.md | lynx -stdin -vikeys"

alias localip="ipconfig getifaddr en0"
