# Use color output for `ls`
alias ls="command ls -G --color"

# List all files
alias la="ls -aG"

# List all files in long format
alias lag="ls -laG"

# Update Homebrew
alias up="brew update; brew upgrade"

alias be="bundle exec"

# Start and stop Postgres
alias pgstart="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias pgstop="pg_ctl -D /usr/local/var/postgres stop -s -m fast"

# Make a quick working commit
alias workin="git add .; git commit -am workin"

alias localip="ipconfig getifaddr en0"
