#!/usr/bin/env bash

# List all files
alias la="ls -aG"

# List all files in long format
alias lag="ls -laG"

# Always use color output for `ls`
alias ls="command ls -G"

# Update Homebrew
alias up="brew update; brew upgrade; brew cleanup; brew cask cleanup; mas upgrade; rustup update"

alias be="bundle exec"

# Make a quick working commit
alias workin="git add .; git commit -am workin"

# Get public-facing IP address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Get IP address on local network
alias localip="ipconfig getifaddr en0"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Force 256-color terminal in tmux
alias tmux='tmux -2'
