[user]
	name = Christian Wesselhoeft
	email = hi@xtian.us
	signingkey = 7CE5E608

[github]
	user = xtian

[alias]
	a   = add
	aa  = add --all
	aam = commit --amend --all
	amm = commit --amend
	ap  = add --all --patch
	b   = branch
	bl  = blame -w --date=short
	c   = commit
	ca  = commit --amend -C HEAD
	cam = commit --all --message
	cm  = commit --message
	co  = checkout
	cp  = cherry-pick
	d   = diff --patch-with-stat
	dc  = diff --cached --patch-with-stat
	dw  = diff --word-diff --patch-with-stat
	l   = log --pretty='format:%Cgreen%h%Creset %an - %s' --graph
	lc  = local-commits
	merge = merge -S
	p   = pull --rebase
	pop = reset head^
	r   = rebase
	ra  = rebase --abort
	rc  = rebase --continue
	ri  = rebase --interactive
	rix = rebase --interactive HEAD~10
	rr  = reset --hard HEAD
	s   = status --short --branch

[apply]
	whitespace = fix

[branch]
	autosetuprebase = always

[branch "master"]
	merge = refs/heads/master
	rebase = true
	remote = origin

[color]
	ui = true

[color "diff"]
	meta = yellow bold
	whitespace = red reverse

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[commit]
	gpgsign = true

[core]
	editor = vim -f
	excludesfile = ~/.gitignore_global
	whitespace = space-before-tab,trailing-space
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX

[diff]
	indentHeuristic = true

[hub]
	protocol = git

[help]
	autocorrect = 1

[push]
	default = tracking

[remote "origin"]
	push = HEAD

[submodule]
	fetchJobs = 4

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
